/* スマートフォン */

@media screen and (max-width: 690px){
    * {
        box-sizing: border-box;
        
    }

    .rei{
        text-align: center;
        width: 100%;
    }

    .header-left{
        float: none;
    }

    .header-right {
        float: none;
        margin-bottom: 20px;
    }
    

    .cos-list {
        width: 100%;
    }
  
    .help {
        width: 80%;
    }

    footer {
        text-align: center;
    }

    .two {
        margin-left: 0;
        display: block;
    }

    .two p {
        margin-left: 0;
    }

    .cos-list p {
        margin-left: 150px;
    }
}






/* iphone8 */

@media screen and (max-width: 375px) {
    * {
        box-sizing: border-box;
       
    }

    a {
        padding: 0 10px;
    }

    .wrapper h2 {
        font-size: 33px;
    }

    .wrapper p {
        font-size: 23px;
    }

    h2 {
        text-align: center;
        font-size: 19px;
    }

    .rei{
        text-align: center;
        width: 100%;
    }

    .header-text {
        margin: 0;
    }

    .header-left{
        float: none;
        text-align: left;
    }

    .cos-list {
        width: 70%;
    }

    .cos-list p {
        margin-left: 0;
    }
  
    .help {
        width: 90%;
    }

    footer {
        text-align: center;
    }

    .two {
        margin-left: 0;
        display: block;
    }

    .two p {
        margin-left: 0;
        font-size: 12px;
    }

    .san {
        text-align: left;
        /* margin-left: 100px; */
    }

    .box {
        width: 362px;
        margin-left: 7px;
    }

    .pool {
        width: 300px;
    }

    .info input {
        padding: 5px 200px 5px 0;
    }

    
}