body {
    margin: 0;
    font-weight: bold;
    
}

a {
    text-decoration: none;
    color: black;
    padding: 5px 20px;
}

h2 {
    text-align: center;
}

.two {
    display: flex;
    margin-left: 100px;
}

.pool {
    max-width: 500px;
}

.two p {
    margin-left: 40px;
}

.clear {
    clear: left;
}

.header-text {
    margin: 0 100px;
}

.header-left {
    float: left;
    /* margin-left: 100px; */
}

.header-right {
    float: right;
    margin-top: 30px;
    /* margin-right: 100px; */
    

}



.wrapper {
    background-image: url(img/main-vsual-nontitle.png);
    background-size: cover;
    padding: 100px 0 60px 0;
    text-align: center;
}

.wrapper h2 {
    font-size: 40px;
}

.san {
    text-align: center;
}

.cos-list {
    float: left;
    width: 33%;
}

.box {
    width: 400px;
}

.cos-list p {
    text-align: left;
    margin-left: 20px;
}

.info  {
    text-align: center;
}

.info input {
    padding:10px 400px 10px 0;
    border-radius: 20px;

}

.help {
    color: white;
    background-color: tomato;
    width: 200px;
    margin: 0 auto 100px auto;
    padding: 10px 70px;
    margin-top: 20px;
    font-size: 24px;
    box-shadow: 0 5px black;
    user-select: none;
}

.help:active {
    box-shadow: none;
    position: relative;
    top: 5px;
}

footer {
    height: 90px;
    text-align: right;
}


.rei {
    width: 100%;
    margin:  0 auto;
   
}